<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmGvbH1s9p-Ugl4669p2fNn5ecWzzK9Ic</string>
	<key>GCM_SENDER_ID</key>
	<string>540326296569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guayoyoltda.saasclient</string>
	<key>PROJECT_ID</key>
	<string>saas-guayoyo</string>
	<key>STORAGE_BUCKET</key>
	<string>saas-guayoyo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540326296569:ios:01f3768a65553f83d55b28</string>
</dict>
</plist>